local_costmap:
  global_frame: odom
  robot_base_frame: base_link
  update_frequency: 2.0
  publish_frequency: 1.0
  static_map: false
  rolling_window: true
  width: 5.0
  height: 5.0
  resolution: 0.05
# padding is 0.1 by default,making difficult to pass through narrow places  
  footprint_padding: 0.0
  
  plugins:
  - {names: obstacles_layer,             type: "costmap_2d::ObstacleLayer"}
  - {names: inflation_layer,             type: "costmap_2d::InflationLayer"}
